:root{
    --violeta: #9000b4;
}
*{
    box-sizing: border-box;
    margin: 0;
    border: 0;
}
html{
    font-size: 62.5%;
    text-align: center;
}
h1{
    color: var(--violeta);
    font-size: 3.2rem;
}
h2{
    font-size:2.8rem ;
    color: var(--violeta);
}
h3{
    font-size:2.4rem ;
    color: var(--violeta);
}
h4{
    font-size:2rem ;
    color: var(--violeta);
}
p{
    font-size: 1.6rem;
}
.padrinosMarcos{
    display: flex;
    flex-direction: row;
}
.padrinosMarcos figure{
    width: 45%;
}
iframe{
    width: 400px;
    height:300px;
    border-style: 0;
}
.caja{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
}
.oculta{
    visibility: hidden;
    width: 1px;
    height: 1px;
}